﻿@model Web_Test.Models.tbRegPageSet

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbRegPageSet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EventID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketSN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketSN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RUName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RUName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RUJobName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RUJobName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RUGender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RUGender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RUUserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RUUserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RUBirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RUBirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RUPhont)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RUPhont)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RUEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RUEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyTaxID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyTaxID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyFax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyFax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyPostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyPostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUserPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUserPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUserMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUserMail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsVegetarian)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsVegetarian)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegUpdateID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegUpdateID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SN }) |
    @Html.ActionLink("Back to List", "Index")
</p>
