﻿@model IEnumerable<Web_Test.Models.tbRegPageSet>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EventID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketSN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RUName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RUJobName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RUGender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RUUserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RUBirthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RUPhont)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RUEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyTaxID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyFax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyPostalCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CUserPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CUserMail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsVegetarian)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegUpdateID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EventID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketSN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RUName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RUJobName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RUGender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RUUserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RUBirthDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RUPhont)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RUEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyTaxID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyFax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyPostalCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CUserPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CUserMail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsVegetarian)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Note)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegUpdateID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SN }) |
            @Html.ActionLink("Details", "Details", new { id=item.SN }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SN })
        </td>
    </tr>
}

</table>
