﻿@model Web_Test.Models.tbEventSet

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tbEventSet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegStartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegStartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegEndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegEndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventStartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventStartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventEndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventEndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.limitUserNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.limitUserNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NowUserNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NowUserNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WaitUserNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WaitUserNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SetpLog)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SetpLog)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Memo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Memo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LogCreate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogCreate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LogEdit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogEdit)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
