﻿@model Web_Test.Models.tbEventSet

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbEventSet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegStartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegStartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegEndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegEndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventStartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventStartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventEndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventEndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.limitUserNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.limitUserNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NowUserNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NowUserNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WaitUserNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WaitUserNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SetpLog)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SetpLog)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Memo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Memo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LogCreate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogCreate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LogEdit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogEdit)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EventID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
