﻿@model IEnumerable<Web_Test.Models.tbEventSet>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegStartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegEndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventStartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventEndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.limitUserNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NowUserNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WaitUserNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SetpLog)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Memo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LogCreate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LogEdit)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegStartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegEndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventStartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventEndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.limitUserNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NowUserNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WaitUserNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SetpLog)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Memo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LogCreate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LogEdit)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EventID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EventID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EventID })
        </td>
    </tr>
}

</table>
