﻿@model Web_Test.Models.tbRegSelectItemSet

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbRegSelectItemSet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EventID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SelectRegPageID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SelectRegPageID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SelectRegPageIDSort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SelectRegPageIDSort)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsNull)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsNull)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SelectRegPageDDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SelectRegPageDDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SN }) |
    @Html.ActionLink("Back to List", "Index")
</p>
