﻿@model IEnumerable<Web_Test.Models.tbRegSelectItemSet>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EventID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectRegPageID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectRegPageIDSort)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsNull)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectRegPageDDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EventID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SelectRegPageID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SelectRegPageIDSort)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsNull)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SelectRegPageDDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SN }) |
            @Html.ActionLink("Details", "Details", new { id=item.SN }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SN })
        </td>
    </tr>
}

</table>
