﻿ @model Web_Test.ViewsModels.SlectItemsViewModel
@{
    ViewBag.Title = "SelectList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SelectList</h2>
@using (Html.BeginForm("CheackSelect", "Test"))
@*{
    foreach (var item in Model.items)
    {
        if (item.RegTableCoType == "list")
        {
            
            <input type="checkbox" name="@item.RegTableCoName" value="@item.RegTableCoID" />@Html.DisplayFor(i => item.RegTableCoMemo)
            <input type="text" name="@item.RegTableCoID" value="" />
        }
        else
        {
            <input type="checkbox" name="@item.RegTableCoName" value="@item.RegTableCoID" />@Html.DisplayFor(i => item.RegTableCoMemo)
	        <input type="hidden" name="@item.RegTableCoID" value="" /> 
	}
    <br />
}*@
    @Html.CheckBoxFor(i => )

    <input type="submit" value="送出" />
}
<br />
@TempData["list"]


