﻿@model Web_Test.Models.tbTicketSet

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbTicketSet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EventID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventSessionID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventSessionID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketSN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketSN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketEditTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketEditTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SN }) |
    @Html.ActionLink("Back to List", "Index")
</p>
