﻿@model IEnumerable<Web_Test.Models.tbTicketSet>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EventID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventSessionID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketSN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketEditTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EventID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventSessionID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketSN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketEditTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SN }) |
            @Html.ActionLink("Details", "Details", new { id=item.SN }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SN })
        </td>
    </tr>
}

</table>
