﻿@model Web_Test.Models.tbRegPageItemsSet

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbRegPageItemsSet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RegTableCoID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegTableCoID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegTableCoName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegTableCoName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegTableCoClass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegTableCoClass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegTableCoMemo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegTableCoMemo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegTableCoDDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegTableCoDDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SN }) |
    @Html.ActionLink("Back to List", "Index")
</p>
