﻿@model IEnumerable<Web_Test.Models.tbRegPageItemsSet>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RegTableCoID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegTableCoName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegTableCoClass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegTableCoMemo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegTableCoDDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RegTableCoID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegTableCoName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegTableCoClass)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegTableCoMemo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegTableCoDDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SN }) |
            @Html.ActionLink("Details", "Details", new { id=item.SN }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SN })
        </td>
    </tr>
}

</table>
