﻿@model Web_Test.ViewsModels.EventViewModel
@{
    ViewBag.Title = "Event";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>活動簡介</h2>
<div class="row col-md-12">
    <div class="row col-md-12">

        <ul class="row col-md-4" style="list-style:none;">
            @foreach (var item in Model.baseEvent)
            {
                <li class="form-group  row"><h3 class="col-md-12"><label>活動名稱:</label><br />@Html.Label(item.EventName, new { @Name = "EventName" })</h3></li>
                <li class="form-group  row"><label class="col-md-5 col-sm-3">開始報名時間:</label>@Html.Label(item.RegStartTime.ToShortDateString(), new { @class = "col-md-7 col-sm-9", @Name = "RegStartTime" })</li>
                <li class="form-group  row"><label class="col-md-5 col-sm-3">結束報名時間:</label>@Html.Label(item.RegEndTime.ToShortDateString(), new { @class = "col-md-7 col-sm-9", @Name = "RegEndTime" })</li>
                <li class="form-group  row"><label class="col-md-5 col-sm-3">活動開始時間:</label>@Html.Label(item.EventStartTime.ToString(), new { @class = "col-md-7 col-sm-9", @Name = "EventStartTime" })</li>
                <li class="form-group  row"><label class="col-md-5 col-sm-3">活動結束時間:</label>@Html.Label(item.EventEndTime.ToString(), new { @class = "col-md-7 col-sm-9", @Name = "EventEndTime" })</li>
                <li class="form-group  row"><label class="col-md-5 col-sm-3">活動狀態:</label>@Html.Label(item.EventStatus, new { @class = "col-md-7 col-sm-9", @Name = "EventStatus" })</li>
                <li class="form-group  row"><label class="col-md-5 col-sm-3">活動地址:</label>@Html.Label(item.EventAddress, new { @class = "col-md-7 col-sm-9", @Name = "EventAddress" })</li>
                <li class="form-group  row"><label class="col-md-5 col-sm-3">活動地點:</label>@Html.Label(item.Eventlocation, new { @class = "col-md-7 col-sm-9", @Name = "Eventlocation" })</li>
                <li class="form-group  row"><label class="col-md-5 col-sm-3">報名人數:</label>@Html.Label(item.UserNum.ToString(), new { @class = "col-md-7 col-sm-9", @Name = "UserNum" })</li>
                <li class="form-group  row"><label class="col-md-5 col-sm-3">目前人數:</label>@Html.Label(item.NowUserNum.ToString(), new { @class = "col-md-7 col-sm-9", @Name = "NowUserNum" })</li>

            }

                <li>
                    <h3>簡章下載</h3>
                    <ul>
                        @foreach (var item in Model.tbEU)
                        {
                            if (item.EventUpdateName != null)
                            {
                                <li><a href="@Url.Content(@item.EventUpdateUrl)">@item.EventUpdateName</a></li>
                            }
                            else
                            {
                                <li>無</li>
                            }

                        }
                    </ul>
                </li>


        </ul>
        <ul class="col-md-7 row" style="list-style:none; margin: 0px 30px;">
            @foreach (var item in Model.basePage)
            {
                <li class="editor">
                    <h3>@Html.DisplayFor(i => item.PageTableCoMemo)</h3>
                    <div>
                        @Html.Raw(item.SelectPageDDate)
                    </div>
                </li>
            }

        </ul>
        @*<div class="col-md-offset-2 col-md-10">
            <h4>@Html.ActionLink("前往報名", "RegPage", new { id = @ViewBag.EventID}, new { @class="btn btn-primary"})</h4>
        </div>*@
        @Html.Raw(ViewBag.RegPageBtn)
    </div>
    <style>
        .editor{
            padding: 3px 10px 10px 10px;
    -moz-box-shadow: 1px 1px 2px #adadad;
    -webkit-box-shadow: 1px 2px 1px #adadad;
    box-shadow: 1px 1px 2px #adadad;
    border:none 5px #000000;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright:5px;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;


        }

    </style>
   