﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>報名首頁</h2>

<div id="grid">
    @(Html.Kendo().Grid<Web_Test.Models.tbEventSet>()
      .Name("grid")
      .Columns(columns =>
      {
          columns.Bound(c => c.EventName).Title("活動名稱").ClientTemplate(@Html.ActionLink("#=EventName#", "Event", new { id = "#=EventID#" }).ToHtmlString());
          columns.Bound(c => c.RegStartTime).Title("報名開始時間").Format("{0:yyyy/MM/dd}");
          columns.Bound(c => c.RegEndTime).Title("報名結束時間").Format("{0:yyyy/MM/dd}");
          columns.Bound(c => c.EventStartTime).Title("活動日期").Format("{0:yyyy/MM/dd}");
          columns.Bound(c => c.EventStatus).Title("活動狀態");
          columns.Bound(c => c.UserNum).Title("報名人數");
          columns.Bound(c => c.NowUserNum).Title("現在報名人數");
          //columns.Bound(c => c.EventName).Title("").ClientTemplate(@Html.ActionLink("點我報名!", "RegPage", new { id = "#=EventID#" }).ToHtmlString());
          //columns.Bound(c => c.EventName).Title("").ClientTemplate("尚未開放報名");

      })
      .Scrollable()
      .DataSource(dataSource => dataSource
          .Ajax()
          .Read(read => read.Action("tbEventSet_Read", "Web"))
      )
    )
</div>