﻿
@{
    ViewBag.Title = "Manger";
    Layout = "~/Views/Shared/_Layout.cshtml";
    TempData.Keep("LogeInStart");
}

<h2>管理頁面</h2>
@Html.ActionLink("建立新活動", "CreateEvent")
<h3>現在活動</h3>
<div id="grid_now">
    @(Html.Kendo().Grid<Web_Test.Models.tbEventSet>()
      .Name("grid_now")
      .Columns(columns =>
      {
          columns.Bound(c => c.EventName).Title("活動名稱").ClientTemplate(@Html.ActionLink("#=EventName#", "ViewEventSet", new { id = "#=EventID#" }).ToHtmlString());
          columns.Bound(c => c.RegStartTime).Title("報名開始時間").Format("{0:yyyy/MM/dd}");
          columns.Bound(c => c.RegEndTime).Title("報名結束時間").Format("{0:yyyy/MM/dd}");
          columns.Bound(c => c.EventStartTime).Title("活動日期").Format("{0:yyyy/MM/dd}");
          columns.Bound(c => c.EventStatus).Title("活動狀態");
          columns.Bound(c => c.UserNum).Title("報名人數");
          columns.Bound(c => c.NowUserNum).Title("現在報名人數");
          columns.Bound(c => c.EventID).ClientTemplate(Html.ActionLink("報名清單", "RUserList", new { id= "#=EventID#" }).ToHtmlString()).Title("");
          

      })
      .Scrollable()
      .DataSource(dataSource => dataSource
          .Ajax()
          .Read(read => read.Action("tbEventSet_Now_Read", "Web"))
      )
    )
</div>
<h3>尚未啟用</h3>
<div id="grid_noAction">
    @(Html.Kendo().Grid<Web_Test.Models.tbEventSet>()
      .Name("grid_noAction")
      .Columns(columns =>
      {
          columns.Bound(c => c.EventName).Title("活動名稱").ClientTemplate(@Html.ActionLink("#=EventName#", "ViewEventSet", new { id = "#=EventID#" }).ToHtmlString());
          columns.Bound(c => c.RegStartTime).Title("報名開始時間").Format("{0:yyyy/MM/dd}");
          columns.Bound(c => c.RegEndTime).Title("報名結束時間").Format("{0:yyyy/MM/dd}");
          columns.Bound(c => c.EventStartTime).Title("活動日期").Format("{0:yyyy/MM/dd}");
          columns.Bound(c => c.EventStatus).Title("活動狀態");
          columns.Bound(c => c.UserNum).Title("報名人數");
          columns.Bound(c => c.NowUserNum).Title("現在報名人數");
          columns.Bound(c => c.EventID).ClientTemplate(Html.ActionLink("報名清單", "RUserList", new { id = "#=EventID#" }).ToHtmlString()).Title("");

      })
      .Scrollable()
      .DataSource(dataSource => dataSource
          .Ajax()
          .Read(read => read.Action("tbEventSet_noAction_Read", "Web"))
      )
    )
</div>
<h3>過往活動</h3>
<div id="grid_old">
    @(Html.Kendo().Grid<Web_Test.Models.tbEventSet>()
      .Name("grid_old")
      .Columns(columns =>
      {
          columns.Bound(c => c.EventName).Title("活動名稱").ClientTemplate(@Html.ActionLink("#=EventName#", "ViewEventSet", new { id = "#=EventID#" }).ToHtmlString());
          columns.Bound(c => c.RegStartTime).Title("報名開始時間").Format("{0:yyyy/MM/dd}");
          columns.Bound(c => c.RegEndTime).Title("報名結束時間").Format("{0:yyyy/MM/dd}");
          columns.Bound(c => c.EventStartTime).Title("活動日期").Format("{0:yyyy/MM/dd}");
          columns.Bound(c => c.EventStatus).Title("活動狀態");
          columns.Bound(c => c.UserNum).Title("報名人數");
          columns.Bound(c => c.NowUserNum).Title("現在報名人數");
          columns.Bound(c => c.EventID).ClientTemplate(Html.ActionLink("報名清單", "RUserList", new { id = "#=EventID#" }).ToHtmlString()).Title("");

      })
      .Scrollable()
      .DataSource(dataSource => dataSource
          .Ajax()
          .Read(read => read.Action("tbEventSet_old_Read", "Web"))
      )
    )
</div>